<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>My Todo List App</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/5.3/examples/cover/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">My Todo List App</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="/">Personal</a>
            <a class="nav-link" href="/work">Work</a>
          </nav>
        </div>
      </header>

      <main class="px-3">
        <h1>Welcome to my Todo List App</h1>
        <p class="lead">This is a simple application for managing your daily tasks. To get started, simply click one of the links above to view your list.</p>
        <p class="lead">
          <a href="/" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
      </main>

      <footer class="mt-auto text-white-50">
        <p>Created by Nathaniel Cook III | &copy; 2023</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
